<!DOCTYPE html>
<html>
  <head>
    <title>Cemented In Code</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-fixed-bottom" id="navMenu">
  <div class="container">
    <div class="row">
          <div class="col-4">
            <%= link_to image_tag("seek.png"), ghosts_path %>
          </div>
          <div class="col-4 text-center">
            <%= link_to image_tag("cement.png"), root_path %>
          </div>
          <div class="col-4 text-right">
            <%= link_to image_tag("new.png"), new_ghost_path  %>
          </div>
    </div>
  </div>
</nav>

      

    <%= yield %>
  </body>
</html>
